---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts reversed %}
    {% if post.visible == 1 %}
      <!--<li><span>{{ post.lecture }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>-->
      <li>
        <span class="post-meta"><b>{{ post.lecture }}</b></span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
      </li>
    {% endif  %}
    {% endfor %}
  </ul>
  <hr>
  <ul class="posts">
    <li>
      <span class="post-meta">Aula Virtuale:
        <a class="post-link" href="https://drive.google.com/open?id=0ByYwCgGgI8eGdC0zeGFVZ1AwY1E"><b>32-bit</b></a>
        &ndash;
        <a class="post-link" href="https://drive.google.com/open?id=0ByYwCgGgI8eGcThfV2ZDNkhkNlE"><b>64-bit</b></a>
      </span>
      <p>Lubuntu 32 bit - Per installare, scaricare il gestore di macchine virtuali <a href="https://virtualbx.org">Oracle VirtualBox</a>
      e, dalla voce <b>File</b>, cliccare su <b>Import Appliance</b>. La procedura di importazione richiede alcuni secondi. Le credenziali
      di accesso sono specificate in Google Classroom</p>
    </li>
    <li>
      <span class="post-meta"><a class="post-link" href="{{ "about" | relative_url }}"><b>Alcune informazioni sul corso</b></a></span>
    </li>
  </ul>
</div>
